[Unit]
Description=Airflow-{{env}} scheduler daemon
After=network.target postgresql-10.service
Wants=postgresql-10.service
[Service]
EnvironmentFile=/opt/airflow/{{env}}/.env
User=root
Group=root
Type=simple
ExecStart=/bin/bash -c 'source /opt/airflow/{{env}}/.env;source /opt/airflow/venv/bin/activate;airflow scheduler'
Restart=always
RestartSec=5s
[Install]
WantedBy=multi-user.target
